.nav{
    display: flex;
    justify-content: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
    
}
li {
    float: left;
}
a {
    display: block;
    margin: 0px;

  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 
  }
 

.right:hover {
    background: yellow;
}
.interview {
    background-color: green;
}
body{
    background-color: aliceblue;
}
audio{
    display: flex;
    position: relative;
    margin-top: 20px;
    left: 40%;
    justify-content: center;
}